[submodule "pomelo-cloud-server"]
	path = pomelo-cloud-server
	url = ../pomelo-cloud-server

[submodule "pomelo-cloud-vue"]
	path = pomelo-cloud-vue
	url = ../pomelo-cloud-vue

[submodule "pomelo-cloud-plugins"]
	path = pomelo-cloud-plugins
	url = ../pomelo-cloud-plugins
