[submodule "pomelo-cloud-server"]
	path = pomelo-cloud-server
	url = git@github.com:ghostxbh/pomelo-cloud-server.git

[submodule "pomelo-cloud-vue"]
	path = pomelo-cloud-vue
	url = git@github.com:ghostxbh/pomelo-cloud-vue.git

