.main3 {
  width: 80%;
  margin: 0 auto;
}

.group1 {
  z-index: 2;
  height: 800px;
  background-color: rgba(246, 246, 246, 1);
  margin-top: 3px;
  width: 1280px;
  align-items: center;
  position: relative;
}

.bd3 {
  z-index: auto;
  width: 1279px;
  height: 800px;
}

.main4 {
  z-index: auto;
  width: 84px;
  height: 791px;
  margin-top: 4px;
}

.layer3 {
  z-index: 35;
  height: 71px;
  border-radius: 35.5px 35.5px 35.5px 35.5px;
  border: 1px solid rgba(4, 98, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  align-self: center;
  width: 72px;
  justify-content: flex-start;
  padding-top: 7px;
  align-items: center;
}

.section1 {
  z-index: auto;
  width: 51px;
  height: 52px;
}

.outer4 {
  z-index: 45;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8a8330811f2b26ffac86563fd8b93ba3b181040ef5023fc114b4638cdfb762ff) 100% no-repeat;
  align-self: center;
}

.outer5 {
  z-index: 46;
  width: 51px;
  height: 28px;
  overflow-wrap: break-word;
  text-align: right;
  font-size: 0;
}

.infoBox2 {
  font-size: 10px;
  font-family: PingFangSC-Regular;
  color: rgba(74, 77, 82, 1);
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word4 {
  font-size: 10px;
  font-family: PingFangSC-Regular;
  color: rgba(74, 77, 82, 1);
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layer4 {
  z-index: 353;
  height: 674px;
  border-radius: 0 35px 35px 0;
  background-color: rgba(232, 232, 232, 1);
  margin-top: 7px;
  width: 84px;
  justify-content: flex-start;
  padding-top: 8px;
  align-items: flex-start;
  position: relative;
}

.bd4 {
  z-index: auto;
  width: 75px;
  height: 647px;
}

.main5 {
  z-index: 422;
  height: 56px;
  border-radius: 22px 0 0 22px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng98987e4494d646e7fff89f5819a2ce7d13936f4fedd716ff07b9645ea5ea6dd7) 100% no-repeat;
  width: 75px;
  justify-content: center;
  align-items: center;
}

.layer5 {
  z-index: auto;
  width: 55px;
  height: 35px;
  justify-content: space-between;
}

.layer6 {
  z-index: 424;
  height: 40px;
  border: 2.3px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2599b2e615041e7d9bd378c99783dd63747cf7f076800463342ad14de5befaee) 0px 0px no-repeat;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.section2 {
  z-index: 425;
  width: 22px;
  height: 14px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga367d8ca203c757013a990e616b57794db67431f0fd7498fd3140b05fd120e29) 0px 0px no-repeat;
}

.paragraph2 {
  z-index: 423;
  width: 16px;
  height: 34px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  line-height: 17px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon1 {
  z-index: 411;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  margin: 13px 16px 0 0;
}

.label1 {
  z-index: 430;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  margin: 24px 16px 0 0;
}

.icon2 {
  z-index: 394;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  margin: 27px 16px 0 0;
}

.icon3 {
  z-index: 386;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  margin: 25px 16px 0 0;
}

.label2 {
  z-index: 375;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  margin: 25px 16px 0 0;
}

.word5 {
  z-index: 372;
  width: 24px;
  height: 17px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(51, 51, 51, 0.44);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 17px;
  align-self: flex-end;
  margin: 65px 21px 0 0;
}

.main6 {
  z-index: 374;
  width: 31px;
  height: 31px;
  border-radius: 7px;
  border: 2.3px solid rgba(74, 77, 82, 1);
  align-self: flex-end;
  margin: 1px 17px 0 0;
}

.main7 {
  z-index: 441;
  width: 27px;
  height: 34px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng9df94dd63478ad90279143f16913fe6274c43b27db9af9aa897b398e19782c0d) 0px 0px no-repeat;
  align-self: flex-end;
  margin: 31px 16px 0 0;
}

.icon4 {
  z-index: 366;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  margin: 30px 16px 0 0;
}

.icon5 {
  z-index: 354;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  margin: 23px 16px 0 0;
}

.txt2 {
  z-index: 373;
  position: absolute;
  left: 31px;
  top: 443px;
  width: 24px;
  height: 19px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(74, 77, 82, 1);
  font-size: 16px;
  font-family: DINAlternate-Bold;
  white-space: nowrap;
  line-height: 19px;
}

.layer7 {
  z-index: auto;
  width: 83px;
  height: 34px;
  margin-top: 5px;
  justify-content: space-between;
}

.img1 {
  z-index: 57;
  width: 64px;
  height: 34px;
}

.paragraph3 {
  z-index: 60;
  width: 13px;
  height: 28px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(74, 77, 82, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  line-height: 14px;
  text-align: right;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main8 {
  z-index: 464;
  height: 55px;
  border-radius: 0 1px 1px 0;
  background-color: rgba(255, 129, 0, 1);
  margin-top: 385px;
  width: 9px;
  justify-content: center;
  align-items: center;
}

.icon6 {
  z-index: 465;
  width: 3px;
  height: 4px;
}

.main9 {
  z-index: auto;
  width: 433px;
  height: 536px;
  margin: 75px 0 0 20px;
}

.bd5 {
  z-index: 99;
  height: 29px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngf511ee8744db0c8c67c009846fd42fd5501850e8f591ec823488e4bbd245406d) 0px 0px no-repeat;
  align-self: flex-start;
  margin-left: 6px;
  width: 61px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.info1 {
  z-index: 101;
  width: 34px;
  height: 24px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 17px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 24px;
  text-align: left;
}

.paragraph4 {
  z-index: 90;
  width: 432px;
  height: 44px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  line-height: 22px;
  text-align: left;
  align-self: flex-end;
  margin-top: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bd6 {
  z-index: auto;
  width: 406px;
  height: 23px;
  margin: 31px 0 0 9px;
}

.txt3 {
  z-index: 91;
  width: 64px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.txt4 {
  z-index: 92;
  width: 64px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin-left: 204px;
}

.info2 {
  z-index: 93;
  width: 33px;
  height: 17px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 17px;
  text-align: left;
  margin: 6px 0 0 41px;
}

.bd7 {
  z-index: auto;
  width: 411px;
  height: 36px;
  justify-content: space-between;
  margin: 6px 0 0 9px;
}

.group2 {
  z-index: 103;
  height: 36px;
  border-radius: 6px;
  border: 1px solid rgba(204, 204, 204, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 188px;
  justify-content: center;
  align-items: center;
}

.mod1 {
  z-index: auto;
  width: 162px;
  height: 22px;
  justify-content: space-between;
}

.word6 {
  z-index: 110;
  width: 112px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.icon7 {
  z-index: 108;
  width: 10px;
  height: 6px;
  margin-top: 9px;
}

.group3 {
  z-index: 104;
  height: 36px;
  border-radius: 6px;
  border: 1px solid rgba(204, 204, 204, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 143px;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
}

.word7 {
  z-index: 111;
  width: 21px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: center;
}

.bd8 {
  z-index: auto;
  width: 411px;
  height: 22px;
  margin: 12px 0 0 9px;
}

.info3 {
  z-index: 96;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.word8 {
  z-index: 97;
  width: 64px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin-left: 236px;
}

.info4 {
  z-index: 94;
  width: 46px;
  height: 17px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 17px;
  text-align: left;
  margin: 2px 0 0 33px;
}

.bd9 {
  z-index: auto;
  width: 411px;
  height: 36px;
  justify-content: space-between;
  margin: 7px 0 0 9px;
}

.box1 {
  z-index: 105;
  height: 36px;
  border-radius: 6px;
  border: 1px solid rgba(204, 204, 204, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 188px;
  justify-content: center;
  align-items: center;
}

.group4 {
  z-index: auto;
  width: 162px;
  height: 22px;
  justify-content: space-between;
}

.word9 {
  z-index: 112;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.label3 {
  z-index: 109;
  width: 10px;
  height: 6px;
  margin-top: 9px;
}

.box2 {
  z-index: 106;
  height: 36px;
  border-radius: 6px;
  border: 1px solid rgba(204, 204, 204, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 143px;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
}

.word10 {
  z-index: 113;
  width: 21px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: center;
}

.bd10 {
  z-index: auto;
  width: 138px;
  height: 22px;
  justify-content: space-between;
  margin: 12px 0 0 277px;
}

.txt5 {
  z-index: 98;
  width: 64px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.word11 {
  z-index: 95;
  width: 46px;
  height: 17px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 17px;
  text-align: left;
  margin-top: 2px;
}

.bd11 {
  z-index: auto;
  width: 411px;
  height: 36px;
  margin: 7px 0 0 9px;
}

.layer8 {
  z-index: 102;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid rgba(204, 204, 204, 0.24);
  background-color: rgba(255, 255, 255, 0.24);
  margin-top: 4px;
}

.txt6 {
  z-index: 88;
  width: 108px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 0.17);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: left;
  margin-left: 6px;
}

.layer9 {
  z-index: 107;
  height: 36px;
  border-radius: 6px;
  border: 1px solid rgba(204, 204, 204, 1);
  background-color: rgba(255, 255, 255, 1);
  margin-left: 136px;
  width: 143px;
  justify-content: center;
  align-items: flex-end;
  padding-right: 10px;
}

.word12 {
  z-index: 114;
  width: 21px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: center;
}

.bd12 {
  z-index: auto;
  width: 410px;
  height: 40px;
  margin: 36px 0 0 10px;
}

.wrap1 {
  z-index: 115;
  height: 36px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng41757d569706c16c7dfdf1324153df4f4bdedaca4311abf50b0ab97bfec58b49) 0px 0px no-repeat;
  margin-top: 4px;
  width: 42px;
  justify-content: center;
  align-items: center;
}

.label4 {
  z-index: 118;
  width: 20px;
  height: 20px;
}

.info5 {
  z-index: 89;
  width: 108px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: left;
  margin: 10px 0 0 18px;
}

.wrap2 {
  z-index: 86;
  height: 35px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb25deee820fbfd5159ea0b62c3e2e96e5bc538738752258281d2c79bfe517343) 100% no-repeat;
  margin-left: 135px;
  width: 107px;
  justify-content: center;
  align-items: center;
}

.txt7 {
  z-index: 117;
  width: 54px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 1);
  font-size: 16px;
  font-family: PingFangSC-Medium;
  white-space: nowrap;
  line-height: 22px;
  text-align: center;
}

.bd13 {
  z-index: auto;
  width: 218px;
  height: 38px;
  margin-top: 43px;
  justify-content: space-between;
}

.box3 {
  z-index: 572;
  height: 38px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga3fe2a34926f93837873d28edf2a5e8068704768d97f870df095f94e45ab0185) 0px 0px no-repeat;
  width: 61px;
  justify-content: flex-start;
  padding-top: 8px;
  align-items: center;
}

.info6 {
  z-index: 574;
  width: 32px;
  height: 19px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 19px;
  text-align: center;
}

.box4 {
  z-index: 573;
  height: 35px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng68b8cb2e9d73b7ee726ddc83d0329dfcb439bc76e26026eadfb6e6084e04b396) 0px 0px no-repeat;
  width: 61px;
  justify-content: center;
  align-items: flex-end;
  padding-right: 13px;
}

.word13 {
  z-index: 575;
  width: 32px;
  height: 19px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 19px;
  text-align: center;
}

.box5 {
  z-index: 576;
  height: 35px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng68b8cb2e9d73b7ee726ddc83d0329dfcb439bc76e26026eadfb6e6084e04b396) 0px 0px no-repeat;
  width: 61px;
  justify-content: center;
  align-items: center;
}

.txt8 {
  z-index: 577;
  width: 32px;
  height: 19px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(166, 166, 166, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 19px;
  text-align: center;
}

.main10 {
  z-index: 32;
  height: 800px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng2fe2f2197fa287bf9b39544fe854ba8dcd9ec3be89cf6279a76770b4119a034c) -1px -1px no-repeat;
  margin-left: 32px;
  width: 701px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.box6 {
  z-index: auto;
  width: 697px;
  height: 791px;
}

.block1 {
  z-index: auto;
  width: 654px;
  height: 53px;
  margin-left: 21px;
}

.layer10 {
  z-index: 62;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 28px;
}

.info7 {
  z-index: 121;
  width: 24px;
  height: 17px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(154, 154, 154, 1);
  font-size: 12px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 17px;
  text-align: left;
  margin: 26px 0 0 15px;
}

.layer11 {
  z-index: 82;
  height: 33px;
  border-radius: 12px;
  background-color: rgba(216, 216, 216, 0.38);
  width: 216px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  margin: 20px 0 0 15px;
}

.info8 {
  z-index: 83;
  width: 16px;
  height: 20px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(154, 154, 154, 1);
  font-size: 12px;
  font-family: AppleColorEmoji;
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
}

.layer12 {
  z-index: 445;
  height: 36px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(228, 228, 228, 1);
  width: 90px;
  justify-content: center;
  align-items: center;
  margin: 1px 0 0 85px;
}

.word14 {
  z-index: 446;
  width: 42px;
  height: 20px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
}

.layer13 {
  z-index: 447;
  height: 36px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(228, 228, 228, 1);
  margin-left: 8px;
  width: 90px;
  justify-content: center;
  align-items: center;
}

.word15 {
  z-index: 449;
  width: 28px;
  height: 20px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
}

.layer14 {
  z-index: 448;
  height: 36px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(228, 228, 228, 1);
  margin-left: 8px;
  width: 90px;
  justify-content: center;
  align-items: center;
}

.txt9 {
  z-index: 450;
  width: 28px;
  height: 20px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 20px;
  text-align: left;
}

.block2 {
  z-index: 84;
  width: 681px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga39c8a80b9219487a67883bf3cd314ecebe4ad22a6d8b2603ca0f8f69e97c06a) -1px 0px no-repeat;
  align-self: flex-end;
  margin-top: 7px;
}

.block3 {
  z-index: auto;
  width: 689px;
  height: 730px;
}

.block4 {
  z-index: auto;
  width: 369px;
  height: 678px;
  margin-top: 18px;
}

.outer6 {
  z-index: auto;
  width: 321px;
  height: 133px;
  margin-left: 21px;
}

.bd14 {
  z-index: auto;
  width: 13px;
  height: 123px;
  margin-top: 3px;
}

.layer15 {
  z-index: 63;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
}

.layer16 {
  z-index: 64;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 26px;
}

.layer17 {
  z-index: 65;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 23px;
}

.layer18 {
  z-index: 66;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 22px;
}

.bd15 {
  z-index: auto;
  width: 11px;
  height: 133px;
  margin-left: 9px;
}

.txt10 {
  z-index: 186;
  width: 8px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  align-self: flex-start;
}

.word16 {
  z-index: 185;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.info9 {
  z-index: 184;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.word17 {
  z-index: 183;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.bd16 {
  z-index: auto;
  width: 18px;
  height: 117px;
  margin: 4px 0 0 7px;
}

.label5 {
  z-index: 123;
  width: 18px;
  height: 16px;
}

.section3 {
  z-index: 196;
  width: 1px;
  height: 97px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4e39f0e45a5513237c889450642f1d8c54fcf9cdbbe9015a5c312940a6af18f0) 100% no-repeat;
  align-self: center;
  margin-top: 4px;
}

.bd17 {
  z-index: auto;
  width: 103px;
  height: 130px;
  margin: 2px 0 0 7px;
}

.info10 {
  z-index: 187;
  width: 80px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  align-self: flex-start;
}

.outer7 {
  z-index: auto;
  width: 97px;
  height: 56px;
  justify-content: space-between;
  margin: 16px 0 0 6px;
}

.section4 {
  z-index: auto;
  width: 14px;
  height: 43px;
  margin-top: 2px;
}

.box7 {
  z-index: 139;
  width: 14px;
  height: 14px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngc207be726f2a993492bd7e39225d0269bdb3ed8d549d9c7ee7b8a7c0b60904c2) 0px 0px no-repeat;
}

.box8 {
  z-index: 197;
  width: 1px;
  height: 25px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng0819f18b2de9964756424be45f83bf7dc29efef40577603b22bba55bfeabd499) 100% no-repeat;
  align-self: center;
  margin-top: 4px;
}

.section5 {
  z-index: auto;
  width: 79px;
  height: 56px;
}

.wrap3 {
  z-index: 188;
  width: 53px;
  height: 21px;
  border: 1px solid rgba(255, 129, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  align-self: flex-start;
}

.wrap4 {
  z-index: auto;
  width: 68px;
  height: 22px;
  justify-content: space-between;
  margin: 13px 0 0 11px;
}

.bd18 {
  z-index: 145;
  width: 12px;
  height: 15px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8bf7d0414bf534d210381a947546865421dcfd9db0ee59761106b7c613c32910) 0px 0px no-repeat;
  margin-top: 3px;
}

.word18 {
  z-index: 191;
  width: 47px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.outer8 {
  z-index: auto;
  width: 67px;
  height: 22px;
  justify-content: space-between;
  margin: 14px 0 0 6px;
}

.layer19 {
  z-index: 142;
  width: 14px;
  height: 14px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngc207be726f2a993492bd7e39225d0269bdb3ed8d549d9c7ee7b8a7c0b60904c2) 0px 0px no-repeat;
  margin-top: 4px;
}

.txt11 {
  z-index: 190;
  width: 45px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.bd19 {
  z-index: 456;
  width: 15px;
  height: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng042c330c8964faefec6b96774fceb8d8c710ada3e6e080a1eda032a23c8b0206) -2px -1px no-repeat;
  margin: 11px 0 0 77px;
}

.bd20 {
  z-index: 460;
  width: 15px;
  height: 8px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng54b0799d761e6aa7a0c4386dc86fc66913cb487bfd806559113529476af1b98a) -2px -1px no-repeat;
  margin: 11px 0 0 46px;
}

.outer9 {
  z-index: 61;
  height: 37px;
  border: 2px dashed rgba(255, 129, 0, 1);
  margin-top: 6px;
  width: 369px;
  justify-content: center;
  align-items: flex-start;
  padding-left: 19px;
}

.group5 {
  z-index: auto;
  width: 171px;
  height: 25px;
}

.section6 {
  z-index: 67;
  width: 13px;
  height: 13px;
  background-color: rgba(246, 179, 109, 1);
  margin-top: 5px;
}

.word19 {
  z-index: 182;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-left: 9px;
}

.section7 {
  z-index: 151;
  width: 12px;
  height: 15px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8bf7d0414bf534d210381a947546865421dcfd9db0ee59761106b7c613c32910) 0px 0px no-repeat;
  margin: 5px 0 0 67px;
}

.word20 {
  z-index: 192;
  width: 50px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin: 2px 0 0 9px;
}

.outer10 {
  z-index: auto;
  width: 153px;
  height: 25px;
  margin: 4px 0 0 21px;
}

.mod2 {
  z-index: 68;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 5px;
}

.word21 {
  z-index: 181;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-left: 9px;
}

.mod3 {
  z-index: 157;
  width: 12px;
  height: 12px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngdf9942fb4b3eb9864fc49f25a2d6be9da37331705ef7d7e83589282036d5dc1c) -1px 0px no-repeat;
  margin: 6px 0 0 67px;
}

.word22 {
  z-index: 193;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin: 2px 0 0 9px;
}

.outer11 {
  z-index: auto;
  width: 191px;
  height: 25px;
  margin: 11px 0 0 21px;
}

.box9 {
  z-index: 73;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 5px;
}

.word23 {
  z-index: 180;
  width: 10px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-left: 10px;
}

.box10 {
  z-index: 163;
  width: 15px;
  height: 13px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4cd701a415eef7b3309dea91cdad40bd326bb2b87ce31aae6ce44addf4a36351) 0px 0px no-repeat;
  margin: 6px 0 0 65px;
}

.info11 {
  z-index: 194;
  width: 70px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin: 2px 0 0 8px;
}

.outer12 {
  z-index: auto;
  width: 153px;
  height: 25px;
  margin: 11px 0 0 21px;
}

.main11 {
  z-index: 78;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 6px;
}

.word24 {
  z-index: 179;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-left: 9px;
}

.main12 {
  z-index: 173;
  width: 15px;
  height: 15px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngac97273c106632f7f876f35a2dc6593c492da775ef533a30afff1530562b1b38) 0px -1px no-repeat;
  margin: 4px 0 0 66px;
}

.word25 {
  z-index: 195;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin: 2px 0 0 7px;
}

.outer13 {
  z-index: auto;
  width: 191px;
  height: 277px;
  justify-content: space-between;
  margin: 14px 0 0 21px;
}

.box11 {
  z-index: auto;
  width: 13px;
  height: 268px;
  margin-top: 5px;
}

.main13 {
  z-index: 70;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
}

.main14 {
  z-index: 75;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 23px;
}

.main15 {
  z-index: 80;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 24px;
}

.main16 {
  z-index: 69;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 22px;
}

.main17 {
  z-index: 74;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 23px;
}

.main18 {
  z-index: 79;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 24px;
}

.main19 {
  z-index: 71;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 25px;
}

.main20 {
  z-index: 76;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 23px;
}

.box12 {
  z-index: auto;
  width: 11px;
  height: 277px;
}

.txt12 {
  z-index: 280;
  width: 8px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  align-self: flex-start;
}

.word26 {
  z-index: 279;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.info12 {
  z-index: 278;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.info13 {
  z-index: 277;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.word27 {
  z-index: 276;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.info14 {
  z-index: 275;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.txt13 {
  z-index: 274;
  width: 10px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  align-self: flex-end;
  margin-top: 11px;
}

.word28 {
  z-index: 273;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.box13 {
  z-index: auto;
  width: 18px;
  height: 117px;
  margin-top: 4px;
}

.icon8 {
  z-index: 217;
  width: 18px;
  height: 16px;
}

.layer20 {
  z-index: 289;
  width: 1px;
  height: 97px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4e39f0e45a5513237c889450642f1d8c54fcf9cdbbe9015a5c312940a6af18f0) 100% no-repeat;
  align-self: center;
  margin-top: 4px;
}

.box14 {
  z-index: auto;
  width: 126px;
  height: 274px;
  margin-top: 2px;
}

.info15 {
  z-index: 281;
  width: 80px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  align-self: flex-start;
}

.layer21 {
  z-index: auto;
  width: 69px;
  height: 22px;
  justify-content: space-between;
  margin: 14px 0 0 4px;
}

.bd21 {
  z-index: 233;
  width: 17px;
  height: 17px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng36c23ecbd7df1a88538c222231ecf4b1a311e985c6844d053e5133238948f1ce) -1px -1px no-repeat;
  margin-top: 2px;
}

.info16 {
  z-index: 282;
  width: 45px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.layer22 {
  z-index: auto;
  width: 91px;
  height: 36px;
  margin-left: 12px;
}

.bd22 {
  z-index: 290;
  width: 1px;
  height: 25px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng0819f18b2de9964756424be45f83bf7dc29efef40577603b22bba55bfeabd499) 100% no-repeat;
}

.bd23 {
  z-index: 239;
  width: 12px;
  height: 15px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8bf7d0414bf534d210381a947546865421dcfd9db0ee59761106b7c613c32910) 0px 0px no-repeat;
  margin: 17px 0 0 22px;
}

.info17 {
  z-index: 284;
  width: 47px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin: 14px 0 0 9px;
}

.layer23 {
  z-index: auto;
  width: 69px;
  height: 22px;
  justify-content: space-between;
  margin: 14px 0 0 4px;
}

.wrap5 {
  z-index: 236;
  width: 17px;
  height: 17px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng36c23ecbd7df1a88538c222231ecf4b1a311e985c6844d053e5133238948f1ce) -1px -1px no-repeat;
  margin-top: 2px;
}

.info18 {
  z-index: 283;
  width: 45px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.layer24 {
  z-index: auto;
  width: 114px;
  height: 144px;
  margin-left: 12px;
}

.main21 {
  z-index: 291;
  width: 1px;
  height: 133px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng7c74a0e52460b498a14c131314a9ec847a43de0eacadc0fc52f624f28eab2da7) 100% no-repeat;
}

.main22 {
  z-index: auto;
  width: 16px;
  height: 122px;
  margin: 17px 0 0 20px;
}

.outer14 {
  z-index: 245;
  width: 12px;
  height: 15px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8bf7d0414bf534d210381a947546865421dcfd9db0ee59761106b7c613c32910) 0px 0px no-repeat;
}

.outer15 {
  z-index: 251;
  width: 15px;
  height: 15px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngac97273c106632f7f876f35a2dc6593c492da775ef533a30afff1530562b1b38) 0px -1px no-repeat;
  align-self: flex-end;
  margin-top: 20px;
}

.outer16 {
  z-index: 257;
  width: 15px;
  height: 13px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4cd701a415eef7b3309dea91cdad40bd326bb2b87ce31aae6ce44addf4a36351) 0px 0px no-repeat;
  align-self: flex-start;
  margin-top: 23px;
}

.outer17 {
  z-index: 267;
  width: 15px;
  height: 15px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngac97273c106632f7f876f35a2dc6593c492da775ef533a30afff1530562b1b38) 0px -1px no-repeat;
  align-self: flex-end;
  margin-top: 21px;
}

.main23 {
  z-index: auto;
  width: 70px;
  height: 130px;
  margin: 14px 0 0 7px;
}

.word29 {
  z-index: 285;
  width: 50px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  align-self: flex-start;
}

.info19 {
  z-index: 286;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  align-self: flex-start;
  margin-top: 14px;
}

.info20 {
  z-index: 287;
  width: 70px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin-top: 14px;
}

.word30 {
  z-index: 288;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  align-self: flex-start;
  margin-top: 14px;
}

.outer18 {
  z-index: auto;
  width: 145px;
  height: 25px;
  justify-content: space-between;
  margin: 13px 0 0 21px;
}

.section8 {
  z-index: 81;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 7px;
}

.word31 {
  z-index: 337;
  width: 8px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
}

.label6 {
  z-index: 310;
  width: 18px;
  height: 16px;
  margin-top: 4px;
}

.word32 {
  z-index: 338;
  width: 80px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin-top: 2px;
}

.outer19 {
  z-index: auto;
  width: 168px;
  height: 72px;
  margin-left: 21px;
}

.mod4 {
  z-index: auto;
  width: 13px;
  height: 49px;
  margin-top: 16px;
}

.mod5 {
  z-index: 72;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
}

.mod6 {
  z-index: 77;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(151, 151, 151, 1);
  background-color: rgba(216, 216, 216, 1);
  margin-top: 23px;
}

.mod7 {
  z-index: auto;
  width: 11px;
  height: 61px;
  margin: 11px 0 0 9px;
}

.word33 {
  z-index: 336;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
}

.info21 {
  z-index: 335;
  width: 11px;
  height: 25px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 25px;
  text-align: center;
  margin-top: 11px;
}

.mod8 {
  z-index: 341;
  width: 1px;
  height: 27px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4578200000a396411f1d7816c87ab6b519f552da3b0d0e9e56cc9feb3b6a957f) 0px 0px no-repeat;
  margin-left: 16px;
}

.mod9 {
  z-index: auto;
  width: 17px;
  height: 45px;
  margin: 15px 0 0 19px;
}

.layer25 {
  z-index: 326;
  width: 17px;
  height: 17px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng36c23ecbd7df1a88538c222231ecf4b1a311e985c6844d053e5133238948f1ce) -1px -1px no-repeat;
}

.layer26 {
  z-index: 342;
  width: 1px;
  height: 25px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng0819f18b2de9964756424be45f83bf7dc29efef40577603b22bba55bfeabd499) 100% no-repeat;
  align-self: center;
  margin-top: 3px;
}

.mod10 {
  z-index: auto;
  width: 75px;
  height: 58px;
  margin: 13px 0 0 7px;
}

.word34 {
  z-index: 339;
  width: 45px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  align-self: flex-start;
}

.bd24 {
  z-index: auto;
  width: 68px;
  height: 22px;
  justify-content: space-between;
  margin: 14px 0 0 7px;
}

.layer27 {
  z-index: 329;
  width: 12px;
  height: 15px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8bf7d0414bf534d210381a947546865421dcfd9db0ee59761106b7c613c32910) 0px 0px no-repeat;
  margin-top: 3px;
}

.word35 {
  z-index: 340;
  width: 47px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.block5 {
  z-index: 451;
  height: 730px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  background-color: rgba(174, 174, 174, 0.26);
  margin-left: 260px;
  width: 9px;
  justify-content: flex-start;
  padding-top: 310px;
}

.wrap6 {
  z-index: 452;
  width: 9px;
  height: 67px;
  border-radius: 4.5px 4.5px 4.5px 4.5px;
  background-color: rgba(174, 174, 174, 0.5);
}

.block6 {
  z-index: auto;
  width: 39px;
  height: 571px;
  margin: 13px 0 0 12px;
}

.label7 {
  z-index: 554;
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin-left: 1px;
}

.label8 {
  z-index: 559;
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin: 25px 0 0 1px;
}

.label9 {
  z-index: 538;
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin: 24px 0 0 1px;
}

.label10 {
  z-index: 533;
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin: 24px 0 0 1px;
}

.label11 {
  z-index: 525;
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin: 24px 0 0 1px;
}

.icon9 {
  z-index: 516;
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin: 25px 0 0 1px;
}

.group6 {
  z-index: 543;
  width: 39px;
  height: 39px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng77a73730dc0b9d61218fa72b2dee5b613b250ea34131b1eead2edace5d41bb5d) 0px 0px no-repeat;
  margin-top: 24px;
}

.label12 {
  z-index: 505;
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin: 23px 0 0 1px;
}

.label13 {
  z-index: 466;
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin: 24px 0 0 1px;
}

.icon10 {
  z-index: 493;
  width: 35px;
  height: 35px;
  align-self: flex-start;
  margin: 24px 0 0 1px;
}

.icon11 {
  z-index: 206;
  position: absolute;
  left: 67px;
  top: 121px;
  width: 13px;
  height: 13px;
}

.box15 {
  z-index: 204;
  position: absolute;
  left: 73px;
  top: 127px;
  width: 16px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb6d93b182d6674db756e0d04f8211db790461568eb2379dffdc4fa1093f20453) 100% no-repeat;
}

.word36 {
  z-index: 189;
  position: absolute;
  left: 117px;
  top: 117px;
  width: 45px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(102, 102, 102, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.box16 {
  z-index: 199;
  position: absolute;
  left: 101px;
  top: 163px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.label14 {
  z-index: 209;
  position: absolute;
  left: 67px;
  top: 193px;
  width: 13px;
  height: 13px;
}

.box17 {
  z-index: 205;
  position: absolute;
  left: 73px;
  top: 199px;
  width: 16px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb6d93b182d6674db756e0d04f8211db790461568eb2379dffdc4fa1093f20453) 100% no-repeat;
}

.label15 {
  z-index: 212;
  position: absolute;
  left: 95px;
  top: 229px;
  width: 13px;
  height: 13px;
}

.box18 {
  z-index: 200;
  position: absolute;
  left: 101px;
  top: 235px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.box19 {
  z-index: 201;
  position: absolute;
  left: 101px;
  top: 271px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.box20 {
  z-index: 198;
  position: absolute;
  left: 101px;
  top: 211px;
  width: 1px;
  height: 133px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng7c74a0e52460b498a14c131314a9ec847a43de0eacadc0fc52f624f28eab2da7) 100% no-repeat;
}

.box21 {
  z-index: 202;
  position: absolute;
  left: 101px;
  top: 307px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.box22 {
  z-index: 203;
  position: absolute;
  left: 101px;
  top: 343px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.icon12 {
  z-index: 299;
  position: absolute;
  left: 67px;
  top: 412px;
  width: 13px;
  height: 13px;
}

.box23 {
  z-index: 297;
  position: absolute;
  left: 73px;
  top: 418px;
  width: 16px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb6d93b182d6674db756e0d04f8211db790461568eb2379dffdc4fa1093f20453) 100% no-repeat;
}

.box24 {
  z-index: 292;
  position: absolute;
  left: 101px;
  top: 454px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.label16 {
  z-index: 302;
  position: absolute;
  left: 67px;
  top: 484px;
  width: 13px;
  height: 13px;
}

.box25 {
  z-index: 298;
  position: absolute;
  left: 73px;
  top: 490px;
  width: 16px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb6d93b182d6674db756e0d04f8211db790461568eb2379dffdc4fa1093f20453) 100% no-repeat;
}

.label17 {
  z-index: 305;
  position: absolute;
  left: 95px;
  top: 520px;
  width: 13px;
  height: 13px;
}

.box26 {
  z-index: 293;
  position: absolute;
  left: 101px;
  top: 526px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.box27 {
  z-index: 294;
  position: absolute;
  left: 101px;
  top: 562px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.box28 {
  z-index: 295;
  position: absolute;
  left: 101px;
  top: 598px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.box29 {
  z-index: 296;
  position: absolute;
  left: 101px;
  top: 634px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.label18 {
  z-index: 345;
  position: absolute;
  left: 67px;
  top: 702px;
  width: 13px;
  height: 13px;
}

.box30 {
  z-index: 344;
  position: absolute;
  left: 73px;
  top: 708px;
  width: 16px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb6d93b182d6674db756e0d04f8211db790461568eb2379dffdc4fa1093f20453) 100% no-repeat;
}

.box31 {
  z-index: 343;
  position: absolute;
  left: 101px;
  top: 744px;
  width: 12px;
  height: 1px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng18a964c52501afc399c716fe6869225a0cee103c42bb75d323cc12c8f717c262) 100% no-repeat;
}

.bd25 {
  z-index: 38;
  height: 10px;
  border-radius: 50%;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng0d4ff941fcea6d360f033890648bf7e76fbce00755a41aa54b8c4c7937936948) 100% no-repeat;
  width: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 37px;
  top: 0;
}

.group7 {
  z-index: 43;
  width: 7px;
  height: 5px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng067ef324fec2de17440fa41708e649fe91bf736f04f95063117150df182da0fe) 0px 0px no-repeat;
}

.bd26 {
  z-index: 439;
  height: 57px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng196db444288d4313e7718e524accf37bae60bf9bf87a07963b301ba44ae722da) -16px -16px no-repeat;
  width: 68px;
  justify-content: flex-end;
  padding-bottom: 9px;
  align-items: center;
  position: absolute;
  left: 444px;
  top: 0;
}

.block7 {
  z-index: 440;
  width: 43px;
  height: 36px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng59c9f260d83526cbd1ad9d5725463ad839805d114b70d4476b960a91250d9d55) 100% no-repeat;
}

.bd27 {
  z-index: 100;
  position: absolute;
  left: 118px;
  top: 75px;
  width: 6px;
  height: 29px;
  border-radius: 3px 0 0 3px;
  background-color: rgba(255, 129, 0, 1);
}

.bd28 {
  z-index: 348;
  height: 556px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb46ec8bf42114b601520806c5df57d4d199eddd9ce17d2d054807f2e3fc03a59) -1px 0px no-repeat;
  width: 466px;
  position: absolute;
  left: 103px;
  top: 1px;
}

.group8 {
  z-index: auto;
  width: 174px;
  height: 24px;
  justify-content: space-between;
  margin: 15px 0 0 74px;
}

.word37 {
  z-index: 349;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(154, 154, 154, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
  margin-top: 2px;
}

.word38 {
  z-index: 350;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(154, 154, 154, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.word39 {
  z-index: 351;
  width: 32px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(154, 154, 154, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.group9 {
  z-index: auto;
  width: 301px;
  height: 39px;
  margin: 34px 0 0 146px;
}

.group10 {
  z-index: 565;
  height: 39px;
  border-radius: 19.5px 19.5px 19.5px 19.5px;
  background-color: rgba(237, 237, 237, 1);
  width: 301px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 7px 0 0 27px;
}

.mod11 {
  z-index: auto;
  width: 154px;
  height: 22px;
  justify-content: space-between;
}

.info22 {
  z-index: 567;
  width: 49px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(109, 109, 109, 0.81);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.word40 {
  z-index: 568;
  width: 50px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(109, 109, 109, 0.81);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.group11 {
  z-index: 566;
  height: 39px;
  border-radius: 19.5px 19.5px 19.5px 19.5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.07);
  width: 91px;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  left: 357px;
  top: 73px;
  padding: 7px 16px 0 0;
}

.word41 {
  z-index: 569;
  width: 51px;
  height: 22px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(109, 109, 109, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 22px;
  text-align: left;
}

.bd29 {
  z-index: 33;
  height: 28px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng9276470750350c851a97b53bf635851104ae296bac86c642ae6713f93f01cc88) 0px 0px no-repeat;
  width: 23px;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2px;
  position: absolute;
  left: 561px;
  top: 385px;
}

.main24 {
  z-index: 34;
  width: 13px;
  height: 22px;
  background: url(https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5f62fb9df5edc8543d08c59faef99c7fb2727c5802eba647df44cb778d7dc2ba) 0px 0px no-repeat;
}

.bd30 {
  z-index: 578;
  height: 234px;
  border: 1px solid rgba(151, 151, 151, 0.29);
  width: 466px;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 103px;
  top: 566px;
  padding: 49px 0 0 17px;
}

.block8 {
  z-index: auto;
  width: 405px;
  height: 47px;
  justify-content: space-between;
}

.section9 {
  z-index: 580;
  height: 46px;
  border-radius: 5px;
  background-color: rgba(249, 248, 248, 0.86);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  width: 39px;
  justify-content: center;
  align-items: center;
}

.section10 {
  z-index: auto;
  width: 26px;
  height: 40px;
}

.icon13 {
  z-index: 581;
  width: 26px;
  height: 26px;
}

.info23 {
  z-index: 587;
  width: 24px;
  height: 14px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 0.49);
  font-size: 10px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 14px;
  text-align: left;
}

.section11 {
  z-index: 589;
  height: 46px;
  border-radius: 5px;
  background-color: rgba(249, 248, 248, 0.86);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  width: 39px;
  justify-content: center;
  align-items: center;
}

.group12 {
  z-index: auto;
  width: 26px;
  height: 40px;
}

.icon14 {
  z-index: 590;
  width: 26px;
  height: 26px;
}

.txt14 {
  z-index: 599;
  width: 24px;
  height: 14px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 0.49);
  font-size: 10px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 14px;
  text-align: left;
}

.section12 {
  z-index: 601;
  height: 46px;
  border-radius: 5px;
  background-color: rgba(249, 248, 248, 0.86);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  width: 39px;
  justify-content: center;
  align-items: center;
}

.group13 {
  z-index: auto;
  width: 26px;
  height: 40px;
}

.label19 {
  z-index: 602;
  width: 26px;
  height: 26px;
}

.word42 {
  z-index: 610;
  width: 20px;
  height: 14px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 0.49);
  font-size: 10px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 14px;
  text-align: left;
  align-self: flex-start;
  margin-left: 1px;
}

.section13 {
  z-index: 620;
  height: 46px;
  border-radius: 5px;
  background-color: rgba(249, 248, 248, 0.86);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  margin-top: 1px;
  width: 39px;
  justify-content: center;
  align-items: center;
}

.outer20 {
  z-index: auto;
  width: 26px;
  height: 40px;
}

.label20 {
  z-index: 621;
  width: 26px;
  height: 26px;
}

.word43 {
  z-index: 627;
  width: 24px;
  height: 14px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 0.49);
  font-size: 10px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 14px;
  text-align: left;
}

.section14 {
  z-index: 612;
  height: 46px;
  border-radius: 5px;
  background-color: rgba(249, 248, 248, 0.86);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  margin-top: 1px;
  width: 39px;
  justify-content: center;
  align-items: center;
}

.group14 {
  z-index: auto;
  width: 26px;
  height: 40px;
}

.icon15 {
  z-index: 613;
  width: 26px;
  height: 26px;
}

.word44 {
  z-index: 618;
  width: 24px;
  height: 14px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 0.49);
  font-size: 10px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 14px;
  text-align: left;
}

.section15 {
  z-index: 629;
  height: 46px;
  border-radius: 5px;
  background-color: rgba(249, 248, 248, 0.86);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  margin-top: 1px;
  width: 39px;
  justify-content: center;
  align-items: center;
}

.bd31 {
  z-index: auto;
  width: 26px;
  height: 40px;
}

.icon16 {
  z-index: 630;
  width: 26px;
  height: 26px;
}

.word45 {
  z-index: 638;
  width: 24px;
  height: 14px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 0.49);
  font-size: 10px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 14px;
  text-align: left;
}

.section16 {
  z-index: 640;
  height: 46px;
  border-radius: 5px;
  background-color: rgba(249, 248, 248, 0.86);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  margin-top: 1px;
  width: 39px;
  justify-content: center;
  align-items: center;
}

.bd32 {
  z-index: auto;
  width: 26px;
  height: 40px;
}

.label21 {
  z-index: 641;
  width: 26px;
  height: 26px;
}

.info24 {
  z-index: 649;
  width: 24px;
  height: 14px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 0.49);
  font-size: 10px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 14px;
  text-align: left;
}

.section17 {
  z-index: 651;
  height: 46px;
  border-radius: 5px;
  background-color: rgba(249, 248, 248, 0.86);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  margin-top: 1px;
  width: 39px;
  justify-content: center;
  align-items: center;
}

.group15 {
  z-index: auto;
  width: 26px;
  height: 40px;
}

.label22 {
  z-index: 652;
  width: 26px;
  height: 26px;
}

.word46 {
  z-index: 662;
  width: 24px;
  height: 14px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 0.49);
  font-size: 10px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 14px;
  text-align: left;
}

.section18 {
  z-index: 664;
  height: 46px;
  border-radius: 5px;
  background-color: rgba(249, 248, 248, 0.86);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07);
  margin-top: 1px;
  width: 45px;
  justify-content: center;
  align-items: center;
}

.layer28 {
  z-index: auto;
  width: 30px;
  height: 40px;
}

.icon17 {
  z-index: 665;
  width: 26px;
  height: 26px;
  align-self: center;
}

.info25 {
  z-index: 675;
  width: 30px;
  height: 14px;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 129, 0, 0.49);
  font-size: 10px;
  font-family: PingFangSC-Regular;
  white-space: nowrap;
  line-height: 14px;
  text-align: left;
}
