#pomelo-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #030303;
  background-color: #f1f0f0;
  font-family: Arial, serif;
  font-size: 12px;
  letter-spacing: 1px;
}

#pomelo-page-footer {
  padding: 1% 1%;
  height: 60px;
  line-height: 40px;
  position: fixed;
  width: 85%;
  text-align: right;
  color: #fff;
  bottom: 6%;
  font-size: 14px;
}
