<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="common.css"/>
  <link rel="stylesheet" type="text/css" href="index.css"/>

</head>
<body>
<div class="main3 flex-row">
  <div class="group1 flex-col">
    <div class="bd3 flex-row">
      <div class="main4 flex-col">
        <div class="layer3 flex-col">
          <div class="section1 flex-col">
            <div class="outer4 flex-col"></div>
            <div class="outer5">
              <span class="infoBox2">
                Admin
              </span>
            </div>
          </div>
        </div>
        <div class="layer4 flex-col">
          <div class="bd4 flex-col">
            <div class="main5 flex-col">
              <div class="layer5 flex-row">
                <div class="layer6 flex-col">
                  <div class="section2 flex-col"></div>
                </div>
                <span class="paragraph2">
                        程
                        <br/>
                        序
                      </span>
              </div>
            </div>
            <img
              class="icon1"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng85882a08edbc5794ce838eb65f893585840a48bbf961761e51bcd9b0081cfe56"
            />
            <img
              class="label1"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng58d88acb5aa3d1c91038bf3c30915f6b28a048b231876fa402a2b67db0d4f897"
            />
            <img
              class="icon2"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngf674207926e250048a9206bd4168b28d6c1f7c6dfa0296bad51e523ab742e8f0"
            />
            <img
              class="icon3"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngd8ce0abb3207cc6e428072755b9beaf7ebbe66a5d23e396e5ade9aa70b4510e1"
            />
            <img
              class="label2"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng9c733e19f3a2db8c0b4b66970b28aa9bf9538d2d7fcf5e8bda2293b8d4b90de9"
            />
            <span class="word5">速度</span>
            <div class="main6 flex-col"></div>
            <div class="main7 flex-col"></div>
            <img
              class="icon4"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng7ca5623d7e9fc9d69c38782ccdf2e3dc6eb40138ea69ffcf09524b63d6330b84"
            />
            <img
              class="icon5"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng9d8c1fd1a043ac2aa12521bf0b27e4c3d17412791123cd0880c6ee29f511ce3c"
            />
          </div>
          <span class="txt2">78%</span>
        </div>
        <div class="layer7 flex-row">
          <img
            class="img1"
            referrerpolicy="no-referrer"
            src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng67d5abe5033e22d2ea40dbdeaa98dfec19b52a535d2f5149a4034d6ad1aa9a70"
          />
          <span class="paragraph3">
                  模
                  <br/>
                  拟
                </span>
        </div>
      </div>
      <div class="main8 flex-col">
        <img
          class="icon6"
          referrerpolicy="no-referrer"
          src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng5b250bcdbff041094887a426267b83e277c67e4a033f72aaebceb02765f38e0c"
        />
      </div>
      <div class="main9 flex-col">
        <div class="bd5 flex-col"><span class="info1">移动</span></div>
        <span class="paragraph4">
                指出机器人将如何在路点之间移动。
                <br/>
                下面的值应用到所有子路点，并且取决于所选择的移动类型。
              </span>
        <div class="bd6 flex-row">
          <span class="txt3">设置TCP</span>
          <span class="txt4">工具速度</span>
          <span class="info2">mm/s</span>
        </div>
        <div class="bd7 flex-row">
          <div class="group2 flex-col">
            <div class="mod1 flex-row">
              <span class="word6">使用激活的TCP</span>
              <img
                class="icon7"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngcfb7c6019c79855e9e57853122cc7cb7c897e96ba405d1828ac89afa110040b1"
              />
            </div>
          </div>
          <div class="group3 flex-col">
            <span class="word7">0.1</span>
          </div>
        </div>
        <div class="bd8 flex-row">
          <span class="info3">特征</span>
          <span class="word8">工具加速</span>
          <span class="info4">mm/sˆ2</span>
        </div>
        <div class="bd9 flex-row">
          <div class="box1 flex-col">
            <div class="group4 flex-row">
              <span class="word9">工具</span>
              <img
                class="label3"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngcfb7c6019c79855e9e57853122cc7cb7c897e96ba405d1828ac89afa110040b1"
              />
            </div>
          </div>
          <div class="box2 flex-col"><span class="word10">0.1</span></div>
        </div>
        <div class="bd10 flex-row">
          <span class="txt5">交融半径</span>
          <span class="word11">mm/sˆ2</span>
        </div>
        <div class="bd11 flex-row">
          <div class="layer8 flex-col"></div>
          <span class="txt6">使用关节角度</span>
          <div class="layer9 flex-col">
            <span class="word12">0.1</span>
          </div>
        </div>
        <div class="bd12 flex-row">
          <div class="wrap1 flex-col">
            <img
              class="label4"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng4da4fa6f0acae9f260eafc6a5a017053343ca7e1672b753b3b7cb3627fdb9a89"
            />
          </div>
          <span class="info5">添加圆形移动</span>
          <div class="wrap2 flex-col">
            <span class="txt7">重&nbsp;&nbsp;&nbsp;&nbsp;置</span>
          </div>
        </div>
        <div class="bd13 flex-row">
          <div class="box3 flex-col"><span class="info6">基本</span></div>
          <div class="box4 flex-col">
            <span class="word13">高级</span>
          </div>
          <div class="box5 flex-col"><span class="txt8">模版</span></div>
        </div>
      </div>
      <div class="main10 flex-col">
        <div class="box6 flex-col">
          <div class="block1 flex-row">
            <div class="layer10 flex-col"></div>
            <span class="info7">断点</span>
            <div class="layer11 flex-col">
              <span class="info8">🔍</span>
            </div>
            <div class="layer12 flex-col">
              <span class="word14">另存为</span>
            </div>
            <button class="layer13 flex-col">
              <span class="word15">保存</span>
            </button>
            <div class="layer14 flex-col">
              <span class="txt9">打开</span>
            </div>
          </div>
          <div class="block2 flex-col"></div>
          <div class="block3 flex-row">
            <div class="block4 flex-col">
              <div class="outer6 flex-row">
                <div class="bd14 flex-col">
                  <div class="layer15 flex-col"></div>
                  <div class="layer16 flex-col"></div>
                  <div class="layer17 flex-col"></div>
                  <div class="layer18 flex-col"></div>
                </div>
                <div class="bd15 flex-col">
                  <span class="txt10">1</span>
                  <span class="word16">2</span>
                  <span class="info9">3</span>
                  <span class="word17">4</span>
                </div>
                <div class="bd16 flex-col">
                  <img
                    class="label5"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng804dee31335a0eac8165d6a7428d47ec8aa0926408ef4b9f7fd032678bd1e26a"
                  />
                  <div class="section3 flex-col"></div>
                </div>
                <div class="bd17 flex-col">
                  <span class="info10">机器人程序</span>
                  <div class="outer7 flex-row">
                    <div class="section4 flex-col">
                      <div class="box7 flex-col"></div>
                      <div class="box8 flex-col"></div>
                    </div>
                    <div class="section5 flex-col">
                      <div class="wrap3 flex-col"></div>
                      <div class="wrap4 flex-row">
                        <div class="bd18 flex-col"></div>
                        <span class="word18">路点_1</span>
                      </div>
                    </div>
                  </div>
                  <div class="outer8 flex-row">
                    <div class="layer19 flex-col"></div>
                    <span class="txt11">Movej</span>
                  </div>
                </div>
                <div class="bd19 flex-col"></div>
                <div class="bd20 flex-col"></div>
              </div>
              <div class="outer9 flex-col">
                <div class="group5 flex-row">
                  <div class="section6 flex-col"></div>
                  <span class="word19">5</span>
                  <div class="section7 flex-col"></div>
                  <span class="word20">路点_2</span>
                </div>
              </div>
              <div class="outer10 flex-row">
                <div class="mod2 flex-col"></div>
                <span class="word21">6</span>
                <div class="mod3 flex-col"></div>
                <span class="word22">调用</span>
              </div>
              <div class="outer11 flex-row">
                <div class="box9 flex-col"></div>
                <span class="word23">7</span>
                <div class="box10 flex-col"></div>
                <span class="info11">var_2:=…</span>
              </div>
              <div class="outer12 flex-row">
                <div class="main11 flex-col"></div>
                <span class="word24">8</span>
                <div class="main12 flex-col"></div>
                <span class="word25">调用</span>
              </div>
              <div class="outer13 flex-row">
                <div class="box11 flex-col">
                  <div class="main13 flex-col"></div>
                  <div class="main14 flex-col"></div>
                  <div class="main15 flex-col"></div>
                  <div class="main16 flex-col"></div>
                  <div class="main17 flex-col"></div>
                  <div class="main18 flex-col"></div>
                  <div class="main19 flex-col"></div>
                  <div class="main20 flex-col"></div>
                </div>
                <div class="box12 flex-col">
                  <span class="txt12">1</span>
                  <span class="word26">2</span>
                  <span class="info12">3</span>
                  <span class="info13">4</span>
                  <span class="word27">5</span>
                  <span class="info14">6</span>
                  <span class="txt13">7</span>
                  <span class="word28">8</span>
                </div>
                <div class="box13 flex-col">
                  <img
                    class="icon8"
                    referrerpolicy="no-referrer"
                    src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng804dee31335a0eac8165d6a7428d47ec8aa0926408ef4b9f7fd032678bd1e26a"
                  />
                  <div class="layer20 flex-col"></div>
                </div>
                <div class="box14 flex-col">
                  <span class="info15">机器人程序</span>
                  <div class="layer21 flex-row">
                    <div class="bd21 flex-col"></div>
                    <span class="info16">Movej</span>
                  </div>
                  <div class="layer22 flex-row">
                    <div class="bd22 flex-col"></div>
                    <div class="bd23 flex-col"></div>
                    <span class="info17">路点_1</span>
                  </div>
                  <div class="layer23 flex-row">
                    <div class="wrap5 flex-col"></div>
                    <span class="info18">Movej</span>
                  </div>
                  <div class="layer24 flex-row">
                    <div class="main21 flex-col"></div>
                    <div class="main22 flex-col">
                      <div class="outer14 flex-col"></div>
                      <div class="outer15 flex-col"></div>
                      <div class="outer16 flex-col"></div>
                      <div class="outer17 flex-col"></div>
                    </div>
                    <div class="main23 flex-col">
                      <span class="word29">路点_2</span>
                      <span class="info19">调用</span>
                      <span class="info20">var_2:=…</span>
                      <span class="word30">调用</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="outer18 flex-row">
                <div class="section8 flex-col"></div>
                <span class="word31">1</span>
                <img
                  class="label6"
                  referrerpolicy="no-referrer"
                  src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng804dee31335a0eac8165d6a7428d47ec8aa0926408ef4b9f7fd032678bd1e26a"
                />
                <span class="word32">机器人程序</span>
              </div>
              <div class="outer19 flex-row">
                <div class="mod4 flex-col">
                  <div class="mod5 flex-col"></div>
                  <div class="mod6 flex-col"></div>
                </div>
                <div class="mod7 flex-col">
                  <span class="word33">2</span>
                  <span class="info21">3</span>
                </div>
                <div class="mod8 flex-col"></div>
                <div class="mod9 flex-col">
                  <div class="layer25 flex-col"></div>
                  <div class="layer26 flex-col"></div>
                </div>
                <div class="mod10 flex-col">
                  <span class="word34">Movej</span>
                  <div class="bd24 flex-row">
                    <div class="layer27 flex-col"></div>
                    <span class="word35">路点_1</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="block5 flex-col">
              <div class="wrap6 flex-col"></div>
            </div>
            <div class="block6 flex-col">
              <img
                class="label7"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng938bf5976e87837e800b2f85041ac3e1ed2b738729080f87a726a84bddbdbfc5"
              />
              <img
                class="label8"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnge1db857fc0dc14c3ce86ea8594f3dfc8cfbacd85b54817ea04c34930ce35aa6b"
              />
              <img
                class="label9"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngff6d3c9687566f976f4855e7e1466c612cef1012d59d0a1c705216702b4491fc"
              />
              <img
                class="label10"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng752768e8a4139fad8a701d07b21270c9c872a0d4a3aa20b90c9adadf0d43dbe7"
              />
              <img
                class="label11"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb35ca8fb312a6c77965ea8fff7b5dfd8ac790ac7ccdab4aabbf530fc38c4fcd0"
              />
              <img
                class="icon9"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng7baeb3fe67503f886f573c45ba5a976f5d10295517ccd90c24097e0229f76374"
              />
              <div class="group6 flex-col"></div>
              <img
                class="label12"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngaa45bea015384494a8494e193391de07f0d02e9ff5fd5932d1a374823dd6be75"
              />
              <img
                class="label13"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng0e88a4127130f103ce8027a47a08fd889706c40361c6f7a363fd7380ca2ec580"
              />
              <img
                class="icon10"
                referrerpolicy="no-referrer"
                src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng27c69a34ef620c4ea4adef8a74521438701644d28976af3bdd318c4ce4b641f0"
              />
            </div>
          </div>
        </div>
        <img
          class="icon11"
          referrerpolicy="no-referrer"
          src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8df356772b8951238b54373cb818546c4fbae89b12e5e4cbf82ef97cb2a0be6a"
        />
        <div class="box15 flex-col"></div>
        <span class="word36">Movej</span>
        <div class="box16 flex-col"></div>
        <img
          class="label14"
          referrerpolicy="no-referrer"
          src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8df356772b8951238b54373cb818546c4fbae89b12e5e4cbf82ef97cb2a0be6a"
        />
        <div class="box17 flex-col"></div>
        <img
          class="label15"
          referrerpolicy="no-referrer"
          src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng328097a55bf48a616a784ed283af2543590c6c4f4975d54d024573413cb9d509"
        />
        <div class="box18 flex-col"></div>
        <div class="box19 flex-col"></div>
        <div class="box20 flex-col"></div>
        <div class="box21 flex-col"></div>
        <div class="box22 flex-col"></div>
        <img
          class="icon12"
          referrerpolicy="no-referrer"
          src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8df356772b8951238b54373cb818546c4fbae89b12e5e4cbf82ef97cb2a0be6a"
        />
        <div class="box23 flex-col"></div>
        <div class="box24 flex-col"></div>
        <img
          class="label16"
          referrerpolicy="no-referrer"
          src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8df356772b8951238b54373cb818546c4fbae89b12e5e4cbf82ef97cb2a0be6a"
        />
        <div class="box25 flex-col"></div>
        <img
          class="label17"
          referrerpolicy="no-referrer"
          src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng328097a55bf48a616a784ed283af2543590c6c4f4975d54d024573413cb9d509"
        />
        <div class="box26 flex-col"></div>
        <div class="box27 flex-col"></div>
        <div class="box28 flex-col"></div>
        <div class="box29 flex-col"></div>
        <img
          class="label18"
          referrerpolicy="no-referrer"
          src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng8df356772b8951238b54373cb818546c4fbae89b12e5e4cbf82ef97cb2a0be6a"
        />
        <div class="box30 flex-col"></div>
        <div class="box31 flex-col"></div>
      </div>
    </div>
    <div class="bd25 flex-col">
      <div class="group7 flex-col"></div>
    </div>
    <div class="bd26 flex-col">
      <div class="block7 flex-col"></div>
    </div>
    <div class="bd27 flex-col"></div>
    <div class="bd28 flex-col">
      <div class="group8 flex-row">
        <span class="word37">命令</span>
        <span class="word38">图形</span>
        <span class="word39">变量</span>
      </div>
      <div class="group9 flex-row">
        <div class="group10 flex-col">
          <div class="mod11 flex-row">
            <span class="info22">MoveJ</span>
            <span class="word40">MoveL</span>
          </div>
        </div>
      </div>
      <div class="group11 flex-col">
        <span class="word41">MoveP</span>
      </div>
    </div>
    <div class="bd29 flex-col">
      <div class="main24 flex-col"></div>
    </div>
    <div class="bd30 flex-col">
      <div class="block8 flex-row">
        <div class="section9 flex-col">
          <div class="section10 flex-col">
            <img
              class="icon13"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng207d4c5ae2c4d600be4bb5d368ad50322771f565f7b3c9151a36bba57bf2646a"
            />
            <span class="info23">移&nbsp;动</span>
          </div>
        </div>
        <div class="section11 flex-col">
          <div class="group12 flex-col">
            <img
              class="icon14"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng230516a6ac5a9535f14958a8167cfd849d565ab16d3a0365db2996996a63fc9f"
            />
            <span class="txt14">路&nbsp;点</span>
          </div>
        </div>
        <div class="section12 flex-col">
          <div class="group13 flex-col">
            <img
              class="label19"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPnga380437a2df6c8d7368ff439f1564ffef5520c537372d4beaa38f1e8391bd7d6"
            />
            <span class="word42">方向</span>
          </div>
        </div>
        <div class="section13 flex-col">
          <div class="outer20 flex-col">
            <img
              class="label20"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng6b6f5e0774db29c519675f58e50aa3f288efbf86e98fe057c0b2c082b466132d"
            />
            <span class="word43">等&nbsp;待</span>
          </div>
        </div>
        <div class="section14 flex-col">
          <div class="group14 flex-col">
            <img
              class="icon15"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngb07e2b5ba5954deee80fddd9c3bac5fb1f38d40688967ee732264f6ff638893c"
            />
            <span class="word44">设&nbsp;置</span>
          </div>
        </div>
        <div class="section15 flex-col">
          <div class="bd31 flex-col">
            <img
              class="icon16"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng02df421315a59df0b9ee4e4df5d82ccc01e468657d78fec23503a2ecfa04c228"
            />
            <span class="word45">弹&nbsp;窗</span>
          </div>
        </div>
        <div class="section16 flex-col">
          <div class="bd32 flex-col">
            <img
              class="label21"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng694ae231036065ac54addc923e8258fbbd6f71fa0b32a20990f4fd2263561492"
            />
            <span class="info24">中&nbsp;止</span>
          </div>
        </div>
        <div class="section17 flex-col">
          <div class="group15 flex-col">
            <img
              class="label22"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPngc94644ef558c90511afdac522e49332d9c2147f0f1c05533d85c3e7690ddb8b4"
            />
            <span class="word46">注&nbsp;释</span>
          </div>
        </div>
        <div class="section18 flex-col">
          <div class="layer28 flex-col">
            <img
              class="icon17"
              referrerpolicy="no-referrer"
              src="https://lanhu.oss-cn-beijing.aliyuncs.com/SketchPng463c79611bcfc1aa309f21a34497af9f634c94909044bf6d97f2cc124978f3e8"
            />
            <span class="info25">文件夹</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
