/* -------------全局开始------------- */
body * {
  box-sizing: border-box;
  flex-shrink: 0;
}

body {
  background-color: #f5f5f5;
}

.context {
  width: 90%;
  margin: 0 auto;
}

.context_bread {
  height: 1000px;
  padding: 10px 10px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.context-title {
  text-align: center;
}

/* -------------全局结束------------- */

/* -------------配置开始------------- */
.pomelo-config-tabs {
  width: 52%;
  float: left;
  height: 100%;
  margin: 5px 5px;
  background-color: #ffffff;
}

.tab-content ul {
  list-style: none;
}

.tab-content ul li {
  float: left;
  margin: 2% 1.5%;
}

.pomelo-config-tabs .command_children_config {
  border: 1px #a8a6a6 solid;
  margin-top: 5%;
  height: 88%;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

/* -------------配置结束------------- */

/* -------------视图开始------------- */
.pomelo-tree-view {
  width: 40%;
  height: 100%;
  float: left;
  margin: 5px 5px;
  background-color: #ffffff;
}

.tree-view-search {
  margin: 2% 3%;
}

.tree-view-ztree {
  float: left;
  width: 88%;
  height: 89%;
  overflow-x: auto;
  overflow-y: auto;
}

/* -------------视图结束------------- */

/* -------------功能开始------------- */
.pomelo-tree-func {
  width: 6%;
  float: left;
  height: 100%;
  margin: 5px 5px;
  background-color: #ffffff;
}

.pomelo-tree-func ul {
  list-style: none;
  padding: 0 10px;
}

.pomelo-tree-func ul li {
  line-height: 50px;
  margin: 60% 0;
}

/* -------------功能结束------------- */

.data_show_json {
  margin-top: 15%;
  border: 1px #a8a6a6 solid;
  height: 77%;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

